# Get a feel of the data using pandas

In [37]:
#!pip install pandas

In [38]:
import pandas as pd

In [39]:
file=pd.read_csv("D:\RAHUL\Bigdata\Data-Modelling\heart.csv")

In [40]:
file.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [41]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [42]:
file.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

## Connect to the database and create the lookup tables

In [43]:
import psycopg2 as ps

In [44]:
# establishing connection
try:
    conn = ps.connect("host=localhost dbname=datamodeldb user=postgres password=EnterPassword")
except ps.Error as e:
    print("Error : There is some issue with the creds")
    print(e)

In [45]:
# create the cursor
try:
    cur = conn.cursor()
except ps.Error as e:
    print("Error : could not create cursor to the database")
    print(e)
    
conn.set_session(autocommit=True)

# Create the Fluoropsy look up table

In [46]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS fluoropsy_table (vessels_colored int primary key, risk_found varchar(20) not null);")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

# Create the end result look up table

In [47]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS result_table (target int primary key, patient_heart_state varchar(15) not null);")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

 # Create the thalassemia look up table

In [48]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS thalassemia_table (thal_value int primary key, defect_state varchar(20) not null);")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

# Create the chest_pain look up table

In [49]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS chest_pain_table (pain_indicator int primary key, pain_level varchar(10) not null);")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

# Create the main heart table

In [50]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS heart (person_id BIGSERIAL primary key, age int not null, sex varchar(20) not null, \
    chest_pain int not null, rest_bp int not null, choles int not null, fast_sugar int not null, rest_ecg int not null, \
    mx_heart_rate int not null, ex_ind_angina int not null, old_peak int not null, slope_st int not null, fluoropsy int not null, \
    state_defect int not null, final_result int not null, foreign key(final_result) references result_table(target), foreign key(chest_pain) references chest_pain_table(pain_indicator), \
    foreign key(fluoropsy) references fluoropsy_table(vessels_colored), foreign key(state_defect) references thalassemia_table(thal_value));")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

# Insert the data into the lookup and the main table

In [51]:
try:
    cur.execute("insert into fluoropsy_table values \
    (0,'low risk'), \
    (1, 'medium risk'), \
    (2, 'high risk'), \
    (3, 'severe risk');")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

Error : could not create the table
duplicate key value violates unique constraint "fluoropsy_table_pkey"
DETAIL:  Key (vessels_colored)=(0) already exists.

In [52]:
try:
    cur.execute("insert into result_table values \
    (0,'no disease'), \
    (1, 'disease');")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

Error : could not create the table
duplicate key value violates unique constraint "result_table_pkey"
DETAIL:  Key (target)=(0) already exists.

In [53]:
try:
    cur.execute("insert into thalassemia_table values \
    (0,'normal'), \
    (1, 'fixed defect'), \
    (2, 'reversible defect');")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

Error : could not create the table
duplicate key value violates unique constraint "thalassemia_table_pkey"
DETAIL:  Key (thal_value)=(0) already exists.

In [54]:
try:
    cur.execute("insert into chest_pain_table values \
    (0,'no pain'), \
    (1, 'low pain'), \
    (2, 'medium pain'), \
    (3, 'high pain');")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

Error : could not create the table
duplicate key value violates unique constraint "chest_pain_table_pkey"
DETAIL:  Key (pain_indicator)=(0) already exists.

In [55]:
try:
    cur.execute("COPY heart (age, sex, chest_pain, rest_bp, choles, fast_sugar, rest_ecg, \
    mx_heart_rate, ex_ind_angina, old_peak, slope_st, fluoropsy, state_defect, final_result) \
    FROM 'D:/RAHUL/Bigdata/Data-Modelling/heart.csv' DELIMITER ',' CSV HEADER;")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

In [56]:
try:
    cur.execute("select * from result_table;")
except ps.Error as e:
    print("Error : could not insert the values")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(0, 'no disease')
(1, 'disease')

In [57]:
try:
    cur.execute("select * from heart limit 10;")
except ps.Error as e:
    print("Error : could not insert the values")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(3077, 52, '1', 0, 125, 212, 0, 1, 168, 0, 1.0, 2, 2, 3, 0)
(3078, 53, '1', 0, 140, 203, 1, 0, 155, 1, 3.1, 0, 0, 3, 0)
(3079, 70, '1', 0, 145, 174, 0, 1, 125, 1, 2.6, 0, 0, 3, 0)
(3080, 61, '1', 0, 148, 203, 0, 1, 161, 0, 0.0, 2, 1, 3, 0)
(3081, 62, '0', 0, 138, 294, 1, 1, 106, 0, 1.9, 1, 3, 2, 0)
(3082, 58, '0', 0, 100, 248, 0, 0, 122, 0, 1.0, 1, 0, 2, 1)
(3083, 58, '1', 0, 114, 318, 0, 2, 140, 0, 4.4, 0, 3, 1, 0)
(3084, 55, '1', 0, 160, 289, 0, 0, 145, 1, 0.8, 1, 1, 3, 0)
(3085, 46, '1', 0, 120, 249, 0, 0, 144, 0, 0.8, 2, 0, 3, 0)
(3086, 54, '1', 0, 122, 286, 0, 0, 116, 1, 3.2, 1, 2, 2, 0)

## lets create a table which shows patients with high risk of heart disease with certain conditions

In [58]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS high_risk_patient_table (rest_bp int not null, cholestrol int not null, thal_value int not null);")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

## lets insert the data now

In [59]:
try:
    cur.execute("insert into high_risk_patient_table(rest_bp, cholestrol, thal_value) select * from (select rest_bp, choles, \
    state_defect from heart where rest_bp>160 and choles>197 and state_defect>2) a;")
except ps.Error as e:
    print("Error : could not create the table")
    print(e)

In [60]:
try:
    cur.execute("select * from high_risk_patient_table limit 10;")
except ps.Error as e:
    print("Error : could not insert the values")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(178, 228, 3)
(170, 288, 3)
(170, 326, 3)
(192, 283, 3)
(170, 326, 3)
(200, 288, 3)
(165, 289, 3)
(170, 227, 3)
(178, 228, 3)
(170, 227, 3)

## So we have made a decent attempt where we made few lookup tables so that it becomes easy to refer the data by joining the main table 'heart' with the appropriate lookup table  and also if we have derived a table from the main table 'high_risk_patient_table' where we see those patients who have high risk of heart disease.

Lets close the connection now

In [61]:
cur.close()
conn.close()